<footer>
  <div class="container">
    <p>
      Copyright &copy; 2018 Drakkar-Software
    </p>
    <p>
      Made with <i class="ion-heart"></i> By Herklos
    </p>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36569139-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-36569139-4');
</script>

