<div class="row align-items-center">
  <div class="col-12 col-md-8 text">
    <h3>Let's start your automating trading robot !</h3>
  </div>
  <div class="col-12 col-md-4 cta">
    <a href="https://github.com/Drakkar-Software/OctoBot/releases" class="btn btn-outline-primary", target="_blank">
      Download Now
    </a>
  </div>
</div>
