<h2 class="section-title text-center">Contact Us</h2>
<p class="section-lead text-center text-muted">Send us your inquiry, we will help you and reply as soon as possible</p>
<div class="section-body">
  <div class="row col-spacing">
    <div class="col-12 col-md-5">
      <p class="contact-text">You can send us something like a question or project. <br><br>You can also create an issue on the github page.</p>
      <a href="https://github.com/Drakkar-Software/OctoBot/issues" target="_blank">
        <button class="btn btn-primary">
          <i class="fa fa-github"></i> Create a Github issue
        </button>
      </a>
    </div>
    <div class="col-12 col-md-7">
      <form class="contact row" id="contact-form">
        <div class="form-group col-6">
          <input type="text" class="form-control" placeholder="Name" name="name" required="">
        </div>
        <div class="form-group col-6">
          <input type="email" class="form-control" placeholder="Email" name="email" required="">
        </div>
        <div class="form-group col-12">
          <input type="text" class="form-control" placeholder="Subject" name="subject" required="">
        </div>
        <div class="form-group col-12">
          <textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
        </div>
        <div class="form-group col-12 mt-2">
          <button class="btn btn-primary">
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
