<div class="row">
  <div class="col-12 col-md-6 col-sm-12">
    <h2>Installed OctoBots</h2>
    <h2><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='<%= @total_active_bots %>' data-delay='10' data-increment="9">0</div></h2>
  </div>
  <div class="col-12 col-md-6 col-sm-12">
    <h2>Active this month</h2>
    <h2><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='<%= @month_active_bots %>' data-delay='10' data-increment="9">0</div></h2>
  </div>
</div>
</div>