<div class="text py-5">
  <p class="lead">A powerful fully modular open-source cryptocurrency trading robot</p>
  <h1>I'm <span class="bold">Octobot</span>, based on <span class="bold">Python</span>.</h1>
  <div class="cta">
    <a href="#features" class="btn btn-primary smooth-link">Get Started</a>
    <div class="link">
      <a href="https://github.com/Drakkar-Software/OctoBot/blob/beta/LICENSE" target="_blank">Under the LGPL-3.0 License</a>
    </div>
  </div>
</div>
