<div class="row align-items-start">
  <div class="col">
    <%= image_tag "roadmap_open_beta.png" %>
  </div>
  <div class="col">
    <div class="projects-details">
      <div class="projects-badge">
        Featured
      </div>
      <h2 class="projects-title">OctoBot - Roadmap</h2>
      <p class="projects-description">
        Open Beta
      </p>
      <div class="projects-cta">
        <a href="https://github.com/Drakkar-Software/OctoBot" class="btn btn-primary" target="_blank">
          Test Now
        </a>
        <a href="https://github.com/Drakkar-Software/OctoBot/wiki" class="btn btn-link" target="_blank">
          More details
        </a>
      </div>
    </div>
  </div>
</div>
