<div class="col-12 col-md-6">
  <h2>Don't miss our news</h2>
  <p class="text-muted">Just enter your email then we will send an email about the latest news</p>
</div>
<div class="col-12 col-md-6">
  <form class="subscribe" action="#">
    <input type="email" name="email" class="form-control" placeholder="Your email">
    <button class="btn btn-primary">Subscribe</button>
  </form>
</div>
