<section class="hero bg-overlay" id="hero" data-bg="<%= asset_path('octobot.png') %>">
  <div class="text py-5">
    <p class="lead">A powerful fully modular open-source cryptocurrency trading robot</p>
    <h1>I'm <span class="bold">Octobot</span>, based on <span class="bold">Python</span>.</h1>
    <div class="cta">
      <a href="#features" class="btn btn-primary smooth-link">Get Started</a>
      <div class="link">
        <a href="https://github.com/Drakkar-Software/OctoBot/blob/beta/LICENSE" target="_blank">Under the LGPL-3.0 License</a>
      </div>
    </div>
  </div>
</section>

<section class="padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-sm-12">
        <div class="list-item">
          <div class="icon">
            <i class="ion-code"></i>
          </div>
          <div class="desc">
            <h2>Based on tentacles</h2>
            <p>
              Tentacles are evaluators (using social media, trend analysis, news, ...), strategies (interpretations of evaluator's evaluations), analysis tools (implementation of a bollinger bands in depth analysis, twitter posts reader, ...) and trading modes.
            </p>
            <a href="https://github.com/Drakkar-Software/OctoBot/wiki/Customize-your-OctoBot" class="more" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-sm-12">
        <div class="list-item">
          <div class="icon">
            <i class="ion-social-github"></i>
          </div>
          <div class="desc">
            <h2>Open Source</h2>
            <p>
              Octobot's main feature is evolution : you can install, modify and even create any tentacle you want to build your ideal cryptocurrency trading robot. You can even share your OctoBot evolutions !
            </p>
            <a href="https://github.com/Drakkar-Software/OctoBot/wiki/Tentacle-Manager" class="more" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-sm-12">
        <div class="list-item no-spacing">
          <div class="icon">
            <i class="ion-paintbrush"></i>
          </div>
          <div class="desc">
            <h2>Customizable</h2>
            <p>
              OctoBot is highly customizable using its configuration and tentacles system. You can therefore build your own bot using the infinite configuration possibilities.
            </p>
            <a href="https://github.com/Drakkar-Software/OctoBot/wiki/Customize-your-OctoBot" class="more" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding bg-grey" id="blog">
  <div class="container">
    <h2 class="section-title">We Blog Sometimes</h2>
    <p class="section-lead text-muted">We wrote some articles about whatever was on our heads and most people liked it.</p>
    <div class="section-body">
      <div class="row col-spacing">
        <div class="col-12 col-md-6 col-lg-4">
          <article class="card">
            <images class="card-images-top" src="/images/news/images01.jpg" alt="Article Image"></images>
            <div class="card-body">
              <div class="card-subtitle mb-2 text-muted">by <a href="#">Herklos</a> on September 6, 2018</div>
              <h4 class="card-title"><a href="#" data-toggle="read" data-id="1">OctoBot in Open Beta !</a></h4>
              <p class="card-text">OctoBot is now in open beta phase, you can now download this new release.</p>
              <div class="text-right">
                <a href="https://github.com/Drakkar-Software/OctoBot/releases/tag/0.2.0-beta" target="_blank">Download open beta release <i class="ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="col-12 col-md-6">
        <h2>Don't miss our article</h2>
        <p class="text-muted">Just enter your email then we will send an email about the latest articles</p>
      </div>
      <div class="col-12 col-md-6">
        <form class="subscribe" action="#">
          <input type="email" name="email" class="form-control" placeholder="Your email">
          <button class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="bg-overlay padding" id="project" data-bg="<%= asset_path('octobot.png') %>">
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
          <%= image_tag "roadmap_open_beta.png" %>
      </div>
      <div class="col">
        <div class="projects-details">
          <div class="projects-badge">
            Featured
          </div>
          <h2 class="projects-title">OctoBot - Roadmap</h2>
          <p class="projects-description">
            Open Beta
          </p>
          <div class="projects-cta">
            <a href="https://github.com/Drakkar-Software/OctoBot" class="btn btn-primary" target="_blank">
              Test Now
            </a>
            <a href="https://github.com/Drakkar-Software/OctoBot/wiki" class="btn btn-link" target="_blank">
              More details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding bg-grey" id="contact">
  <div class="container">
    <h2 class="section-title text-center">Contact Us</h2>
    <p class="section-lead text-center text-muted">Send us your inquiry, we will help you and reply as soon as possible</p>
    <div class="section-body">
      <div class="row col-spacing">
        <div class="col-12 col-md-5">
          <p class="contact-text">You can send us something like a question or project. <br><br>You can also create an issue on the github page.</p>
          <a href="https://github.com/Drakkar-Software/OctoBot/issues" target="_blank">
            <button class="btn btn-primary">
              Create a Github issue
            </button>
          </a>
        </div>
        <div class="col-12 col-md-7">
          <form class="contact row" id="contact-form">
            <div class="form-group col-6">
              <input type="text" class="form-control" placeholder="Name" name="name" required="">
            </div>
            <div class="form-group col-6">
              <input type="email" class="form-control" placeholder="Email" name="email" required="">
            </div>
            <div class="form-group col-12">
              <input type="text" class="form-control" placeholder="Subject" name="subject" required="">
            </div>
            <div class="form-group col-12">
              <textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
            </div>
            <div class="form-group col-12 mt-2">
              <button class="btn btn-primary">
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="callout">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 text">
        <h3>Let's start your automating trading robot !</h3>
      </div>
      <div class="col-12 col-md-4 cta">
        <a href="https://github.com/Drakkar-Software/OctoBot/releases" class="btn btn-outline-primary", target="_blank">
          Download Now
        </a>
      </div>
    </div>
  </div>
</section>